@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@import 'libs/bootstrap-reboot.min';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px !important;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
}

a {
    color: #fff;
    text-decoration: none !important;
    &:hover{
        color: $orange !important;
    }
}

ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

// Стили блоков:

@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/buttons';
@import 'blocks/request';
@import 'blocks/forma';
@import 'blocks/serv-list';
@import 'blocks/hamburger';
@import 'blocks/buttons-reviews';
@import 'blocks/serv-price';
@import 'blocks/price';
@import 'blocks/video';
@import 'blocks/slogan';
@import 'blocks/advantage';
// @import 'blocks';
// @import 'blocks';