@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@import 'libs/bootstrap-reboot.min';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
}

a {
    color: #fff;
    text-decoration: none;
    &:hover{
        color: $orange;
    }
}

// Стили блоков:

@import 'blocks/header/header';
@import 'blocks/menu/menu';
@import 'blocks/buttons/buttons';
@import 'blocks/request/request';
@import 'blocks/forma/forma';
// @import 'blocks';
// @import 'blocks';
// @import 'blocks';
// @import 'blocks';
// @import 'blocks';
// @import 'blocks';
// @import 'blocks';
// @import 'blocks';
// @import 'blocks';
// @import 'blocks';

// Адаптация:

@import 'blocks/header/header-media';
@import 'blocks/menu/menu-media';
@import 'blocks/buttons/buttons-media';
@import 'blocks/request/request-media';
@import 'blocks/forma/forma-media';
// @import 'blocks';
// @import 'blocks';
// @import 'blocks';
// @import 'blocks';
// @import 'blocks';
// @import 'blocks';
// @import 'blocks';
// @import 'blocks';
// @import 'blocks';
// @import 'blocks';