.advantage-items {
    margin: 30px 0;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img {
        width: 150px;
        margin-bottom: 15px;
    }
    &__text {
        text-align: center;
        text-transform: uppercase;
        color: $orange;
        font-weight: 700;
        font-size: 20px;
    }
}

.advantage-slogan {
    margin: 10px 0 30px 0;
    text-transform: uppercase;
    font-size: 27px;
    padding: 10px 0;
    text-align: justify;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    font-weight: 600;
}

.advantage-slider {
    position: relative;
    z-index: 1;
    margin: 20px;
    &__block {
        background-color: #fff;
        border-radius: 100%;
        height: 250px;
        padding: 20px;
        text-align: center;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    &__text {
        text-transform: uppercase;
        color: $orange;
    }
}
.my-slider {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 35px;
}
.prev, .next {
    outline: none;
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    top: 50%;
}
.prev {
    left: -20px;
}
.next {
    right: -20px;
}

@media (max-width: 992px) {
    .advantage-slider {
        &__block {
            height: 300px;
            padding: 20px;
        }
    }
    .advantage-items {
        &__block {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 768px) {
    .advantage-items {
        &__block {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 576px) {
    .advantage-slider {
        &__text {
            font-size: 20px;
        }
    }
    .advantage-slogan {
        text-align: left;
    }
    .my-slider {
        gap: 0;
    }
}