.button {
    background-color: rgb(21, 29, 195);
    padding: 5px 9px 5px 9px;
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
    &_header {
        padding: 5px;
        width: 200px;
        text-align: center;
        &-green {
            background-color: $green;
        }
    }
    &_forma {
        width: 120px;
        text-transform: none;
        background-color: #fff;
        border: none;
        border-radius: unset;
        font-weight: 500;
        padding: 5px 20px 5px 20px;
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .button {
        &_menu {
            text-transform: unset;
        }
    }
}

@media (max-width: 768px) {
    .button {
        &_menu {
            background-color: unset;
        }
    }
}

@media (max-width: 576px) {

}