button {
    border: unset;
}

.button {
    background-color: rgb(21, 29, 195);
    padding: 5px 9px 5px 9px;
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
    &_menu {
        color: #fff;
    }
    &_header {
        padding: 5px;
        width: 200px;
        text-align: center;
        color: #fff;
        &-green {
            background-color: $green;
        }
    }
    &_forma {
        width: 120px;
        text-transform: none;
        background-color: #fff;
        border: none;
        border-radius: unset;
        font-weight: 500;
        padding: 5px 20px 5px 20px;
    }
    &_reviews {
        color: #fff;
        width: 300px;
        height: 60px;
        background-color: $green;
        border: none;
        font-size: 20px;
        letter-spacing: 1px;
    }
    &_port {
        background-color: unset;
        display: block;
        margin: 0 auto;
        box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.13);
        padding: 5px 30px 5px 30px;
        transition: .5s all;
        margin-bottom: 40px;
        &:hover {
            transform: scale(98%);
        }
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .button {
        &_menu {
            text-transform: unset;
        }
    }
}

@media (max-width: 768px) {
    .button {
        &_menu {
            background-color: unset;
        }
    }
}

@media (max-width: 576px) {

}