footer {
    background-color: #212529;
    padding: 30px 0;
    min-height: 500px;
}

.footer {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &__title {
        color: #fff;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        div {
            img {
                width: 30px;
                height: 30px;
                transition: .5s all;
                &:hover {
                    transform: scale(110%);
                }
            }
        }
        &-mb {
            margin-bottom: 80px;
        }
        &-clock {
            margin-top: 20px;
            margin-bottom: 40px;
            div {
                img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
    &__url {
        font-size: 25px;
        color: #fff;
        text-decoration: underline !important;
        margin-bottom: 10px;
        margin-left: 15px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        span {
            font-size: 40px;
            line-height: 35px;
        }
        span.footer__subtitle {
            font-size: 30px;
        }
    }
    &__divider {
        display: block;
        background-color: rgba(255, 255, 255, .5);
        width: 100%;
        height: 2px;
    }
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 60px;
    img {
        width: 50px;
        height: 50px;
        transition: .3s all;
        &:hover {
            transform: scale(110%);
        }
    }
}

@media (max-width: 992px) {
    .footer {
        &__block {
            margin-top: 50px !important;
        }
    }
}