.forma {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 400px;
    label.error {
        color: red;
    }
    &__title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
        // text-align: right;
        z-index: 2;
    }
    &__subtitle {
        // text-align: right;
        font-weight: 700;
        font-size: 18x;
        z-index: 2;
    }
    &__block {
        z-index: 2;
        margin-top: 50px;
        align-self: flex-end;
        margin-right: 80px;
    }
    &__check {
        &-text {
            margin-top: 65px;
            a {
                color: #fff;
                font-weight: 700;
            }
            input {
                width: 15px;
                height: 15px;
            }
        }
    }
    &__img {
        width: 500px;
        // height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    &__button {
        position: absolute;
        right: 100px;
        bottom: 50px;
    }
}
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 3;
    margin-left: 57px;
    position: relative;
}
input {
    width: 200px;
    padding: 2px 5px 2px 5px;
    border: 1px solid #000;
    outline: none;
    font-size: 15px;
}
textarea {
    width: 70%;
    min-height: 60px;
    resize: none;
    padding: 5px;
    outline: none;
    font-size: 15px;
}

.overlay_form {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .56);
    display: none;
}

.modall {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F2F2F2;
    width: 382px;
    height: 150px;
    padding: 38px 40px 40px 40px;
    z-index: 1000;
}
.modall_rec {
    background: #000;
    height: auto;
    z-index: 1000;
    border-radius: 20px; 
}

.modall__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 41px;
    line-height: 21px;
    color: #000;
    cursor: pointer;
}
.modall__close_white {
    color: #fff;
}

.modall__subtitle {
    color: #0D0D0D;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.modall__descr {
    color: #0D0D0D;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

#thanks {
    display: none;
}

@media (max-width: 1200px) {
    .forma {
        &__button {
            right: 125px;
            bottom: 74px;
        }
    }
}

@media (max-width: 992px) {
    .forma {
        &__block {
            align-self: unset;
            margin-right: 0;
            margin-left: 60px;
            margin-bottom: 10px;
        }
        &__button {
            position: unset;
        }
        &__check-text {
            margin-top: 0;
        }
    }
    textarea {
        width: 50%;
        margin-bottom: 10px;
        min-height: 70px;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
    form {
        margin-left: 0;
        margin-bottom: 30px;
    }
    .forma {
        &__img {
            width: 320px;
            display: none;
        }
        &__block {  
            color: #fff;
            margin-left: unset;
            margin: 20px 0 20px 0;
            text-align: center;
        }
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            font-size: 25px;
        }
    }
    input {
        width: 100%;
        font-size: 20px;
        height: 45px;
        padding: 10px;
    }
    textarea {
        width: 100%;
        font-size: 20px;
        height: 150px;
        padding: 10px;
    }
}