.forma {
    // background: url(../img/form.jpg)no-repeat 50%/cover;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 400px;
    label.error {
        color: red;
    }
    &__title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
        // text-align: right;
        z-index: 2;
    }
    &__subtitle {
        // text-align: right;
        font-weight: 700;
        font-size: 18x;
        z-index: 2;
    }
    &__block {
        z-index: 2;
        margin-top: 50px;
        align-self: flex-end;
        margin-right: 80px;
    }
    &__check {
        &-text {
            margin-top: 65px;
            a {
                color: #fff;
                font-weight: 700;
            }
            input {
                width: 15px;
                height: 15px;
            }
        }
    }
    &__img {
        width: 500px;
        // height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    &__button {
        position: absolute;
        right: 100px;
        bottom: 50px;
    }
}
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 3;
    margin-left: 57px;
    position: relative;
}
input {
    width: 200px;
    padding: 2px 5px 2px 5px;
    border: 1px solid #000;
    outline: none;
    font-size: 15px;
}
textarea {
    width: 70%;
    min-height: 60px;
    resize: none;
    padding: 5px;
    outline: none;
    font-size: 15px;
}

@media (max-width: 1200px) {
    .forma {
        &__button {
            right: 125px;
            bottom: 74px;
        }
    }
}

@media (max-width: 992px) {
    .forma {
        &__block {
            align-self: unset;
            margin-right: 0;
            margin-left: 60px;
            margin-bottom: 10px;
        }
        &__button {
            position: unset;
        }
        &__check-text {
            margin-top: 0;
        }
    }
    textarea {
        width: 50%;
        margin-bottom: 10px;
        min-height: 70px;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
    form {
        margin-left: 0;
        margin-bottom: 30px;
    }
    .forma {
        &__img {
            width: 320px;
            display: none;
        }
        &__block {
            color: #fff;
            margin-left: unset;
            margin: 20px 0 20px 0;
            text-align: center;
        }
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            font-size: 25px;
        }
    }
    input {
        width: 100%;
        font-size: 20px;
    }
    textarea {
        width: 100%;
        font-size: 20px;
        height: 150px;
    }
}