.wrapper-background {
    background: url(https://static.tildacdn.com/tild3835-3562-4461-b963-613437333734/66f3561834047c17b9d9.jpg)no-repeat 50%/cover;
    padding: 20px 0;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(238, 236, 236, 0.6);
    z-index: 1;
}

.header{
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        margin-bottom: 70px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &__slogan {
        text-align: center;
        font-weight: 700;
        font-size: 23px;
    }
    &__block {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &__contacts {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__time {
        text-align: center;
        margin-top: 50px;
        text-transform: uppercase;
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
    }  

    &__link {
        color: #000;
        border-bottom: 1px solid #000;
        font-weight: 700;
    }
    &__phone {
        color: #000;
        font-weight: 700;
    }
    &__time {
        font-weight: 700;
        font-size: 18px;
    }
}

svg {
    width: 25px;
    height: 25px;
}
.divider {
    margin-top: 10px;
    width: 100%;
    height: 2px;
    background-color: $orange;
}


@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header{
        &__block {
            display: unset;
            div {
                margin-bottom: 5px;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header {
        &__logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        &__grid {
            grid: 1fr / 1fr 1fr;
        }
        &__buttons {
            align-items: unset;
            gap: 5px;
        }
        &__logo {
            display: unset;
        }
        &__time {
            margin-top: 0;
            transform: translateY(50px);
        }
        &__link {
            position: fixed;
            left: -100%;
            bottom: 20px;
            z-index: 6;
            color: #fff;
            border-bottom: 2px solid #fff;
            transition: .6s all;
            &_active {
                left: 20px;
            }
        }
        &__wrapper {
            margin-bottom: 0;
        }
    }

}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .header {
        &__grid {
            grid: 1fr / 1fr;
            gap: 20px;
        }
        &__time {
            transform: unset;
        }
        &__buttons {
            margin: 0 auto;
        }
        &__link {
            width: 150px;
            border-bottom: none;
            text-decoration: underline;
        }
    }

}