.serv-price {
    &__item {
        position: relative;
        &:before {
            content: '';
            width: 15px;
            height: 15px;
            margin-right: 10px;
            display: inline-block;
            background-image: url(../icons/crane.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    &_price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .serv-price {
        order: 2;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}