.slogan {
    margin-bottom: 30px;
    padding: 0 12px;
    &__wrapper {
        background-color: $blue;
        border-radius: 5px;
        border-bottom-right-radius: 30px;
        padding: 20px;
    }
    &__img {
        width: 300px;
        border-radius: 5px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: 700;
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .slogan {
        &__text {
            text-align: center;
        }
        &__img {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 576px) {
    .slogan {
        &__text {
            font-size: 23px;
            text-align: left;
        }
    }
}